<h2>トップ画面です</h2>


<%= form_tag("/top/login") do%>
ログイン<br><br>
ユーザー名<br>
<input type="text" name="name" value="<%=@user_name%>"><br>
パスワード<br>
<input type="password" name="password" value="<%=@user_pass%>"><br>
<input type="submit" value="ログイン"><br><br>
<% end %>

<%= form_tag("/top/create") do%>
アカウントを作成<br><br>
ユーザー名<br>
<input type="text" name="name"><br>
パスワード<br>
<input type="password" name="password"><br>
<input type="submit" value="新規作成">
<% end %>